mat-card {
    padding: 2rem;
}

.signin-with-google-button {
    padding: 0.25rem 1.25rem;
    margin-top: 2rem;
}

.signin-with-google-button img {
    width: 20px;
    height: 20px;

    margin-right: 5px;
}